pip==25.2
multiprocess==0.70.19
datasets==5.0.0
dill==0.4.1
transformers==4.57.3
pyarrow==25.0.0
trl==0.25.1
av==18.0.0
qwen-vl-utils==0.0.14
bert-score==0.3.13
huggingface_hub==0.36.2
yapf==0.43.0
peft==0.17.1
contourpy==1.3.3
click==8.4.1
opencv-python==4.13.0.92
langchain-openai==1.2.2
kiwisolver==1.5.0
langchain-protocol==0.0.16
jsonpatch==1.33
uuid_utils==0.16.0
openai==2.38.0
hjson==3.1.0
pyasn1_modules==0.4.2
langchain-core==1.4.0
google-auth==2.53.0
safetensors==0.8.0
tenacity==9.1.4
ormsgpack==1.12.2
pyDeprecate==0.7.0
boxmot==21.0.0
deepspeed==0.18.1
langsmith==0.8.8
ftfy==6.3.1
jsonpointer==3.1.1
langchain==1.3.2
xxhash==3.8.1
zstandard==0.25.0
PySocks==1.7.1
GitPython==3.1.57
lapx==0.9.4
langgraph-checkpoint==4.1.1
platformdirs==4.11.0
joblib==1.5.3
regex==2026.5.9
langgraph==1.2.2
threadpoolctl==3.6.0
supervision==0.28.0
beautifulsoup4==4.14.3
langgraph-prebuilt==1.1.0
wandb==0.28.0
filterpy==1.4.5
pyparsing==3.3.2
polars==1.41.2
matplotlib==3.10.9
polars-runtime-32==1.41.2
langgraph-sdk==0.3.15
ultralytics==8.4.60
gitdb==4.0.12
smmap==5.0.3
fonttools==4.63.0
cryptography==48.0.0
addict==2.4.0
annotated-doc==0.0.4
narwhals==2.24.0
soupsieve==2.8.4
cycler==0.12.1
pycocotools==2.0.11
yacs==0.1.8
ultralytics-thop==2.0.19
gdown==5.2.2
google-genai==2.7.0
typer==0.25.1
scikit-learn==1.9.0
wcwidth==0.7.0
pyasn1==0.6.3
requests-toolbelt==1.0.0
hf-xet==1.5.0
defusedxml==0.7.1
rich==15.0.0
semantic-version==2.10.0
tomlkit==0.13.3
pandas==2.3.3
brotli==1.2.0
tzdata==2026.3
accelerate==1.7.0
ffmpy==1.0.0
flash_attn==2.7.4.post1
pytz==2026.3.post1
transformers-stream-generator==0.0.5
ruff==0.16.0
orjson==3.11.9
gradio_client==1.13.3
torchcodec==0.7.0
safehttpx==0.1.7
pydub==0.25.1
gradio==5.49.1
groovy==0.1.2
python-dateutil==2.9.0.post0
nvtx==0.2.13
cufile-python==0.1.1
runai-model-streamer-s3==0.14.0
lmcache==0.3.7
caio==0.9.24
runai-model-streamer==0.14.0
boto3==1.40.45
aiofile==3.9.0
jmespath==1.0.1
humanize==4.13.0
sortedcontainers==2.4.0
s3transfer==0.14.0
hf_transfer==0.1.9
timm==1.0.20
nixl==0.6.0
botocore==1.40.45
aiofiles==24.1.0
modelscope==1.30.0
bitsandbytes==0.48.1
awscrt==0.28.1
redis==6.4.0
pplx-kernels==0.0.1
deep_gemm==2.0.0+ea9c5d9
pyproject_hooks==1.2.0
setuptools-scm==9.2.0
build==1.3.0
cmake==4.1.0
wheel==0.45.1
nvidia-nvshmem-cu12==3.4.5
tabulate==0.9.0
nvidia-cudnn-frontend==1.14.1
flashinfer-python==0.3.1
cuda-bindings==12.8.0
nvidia-ml-py==12.575.51
pynvml==12.0.0
cuda-python==12.8.0
jsonschema==4.25.1
triton==3.4.0
jsonschema-specifications==2025.9.1
pycparser==2.23
xgrammar==0.1.25
six==1.17.0
certifi==2025.8.3
xformers==0.0.32.post1
sentry-sdk==2.39.0
soundfile==0.13.1
partial-json-parser==0.2.1.1.post6
websockets==15.0.1
nvidia-nvtx-cu12==12.8.90
pycountry==24.6.1
pyzmq==27.1.0
setuptools==79.0.1
sniffio==1.3.1
charset-normalizer==3.4.3
gguf==0.17.1
sentencepiece==0.2.1
httpcore==1.0.9
diskcache==5.6.3
uvloop==0.21.0
nvidia-cudnn-cu12==9.10.2.21
tokenizers==0.22.1
frozendict==2.4.6
urllib3==2.5.0
llguidance==0.7.30
requests==2.32.5
cffi==2.0.0
tqdm==4.67.1
annotated-types==0.7.0
aiohappyeyeballs==2.6.1
numpy==2.2.6
referencing==0.36.2
pydantic_core==2.33.2
httptools==0.6.4
msgspec==0.19.0
pybase64==1.4.2
PyYAML==6.0.3
protobuf==6.32.1
py-cpuinfo==9.0.0
aiohttp==3.12.15
depyf==0.19.0
vllm==0.11.0
rich-toolkit==0.15.1
msgpack==1.1.1
uvicorn==0.37.0
pydantic-extra-types==2.10.5
cbor2==5.7.0
dnspython==2.8.0
MarkupSafe==3.0.3
fastapi-cli==0.0.13
compressed-tensors==0.11.0
lm-format-enforcer==0.11.3
nvidia-cublas-cu12==12.8.4.1
markdown-it-py==4.0.0
ray==2.49.2
torchaudio==2.8.0+cu128
packaging==25.0
nvidia-cufft-cu12==11.3.3.83
idna==3.10
Jinja2==3.1.6
attrs==25.3.0
fsspec==2025.9.0
torchvision==0.23.0+cu128
aiosignal==1.4.0
nvidia-cuda-runtime-cu12==12.8.90
mdurl==0.1.2
scipy==1.16.2
nvidia-cuda-nvrtc-cu12==12.8.93
cachetools==6.2.0
nvidia-cuda-cupti-cu12==12.8.90
jiter==0.11.0
interegular==0.3.3
mpmath==1.3.0
setproctitle==1.3.7
typing-inspection==0.4.2
yarl==1.20.1
multidict==6.6.4
nvidia-cusolver-cu12==11.7.3.90
httpx==0.28.1
nvidia-cusparse-cu12==12.5.8.93
filelock==3.19.1
nvidia-nccl-cu12==2.27.3
llvmlite==0.44.0
openai-harmony==0.0.4
blake3==1.0.7
watchfiles==1.1.0
typing_extensions==4.15.0
starlette==0.48.0
h11==0.16.0
prometheus-fastapi-instrumentator==7.1.0
Pygments==2.19.2
einops==0.8.1
distro==1.9.0
tiktoken==0.11.0
python-dotenv==1.1.1
prometheus_client==0.23.1
nvidia-cusparselt-cu12==0.7.1
email-validator==2.3.0
nvidia-nvjitlink-cu12==12.8.93
ninja==1.13.0
fastrlock==0.8.3
fastapi==0.118.0
cupy-cuda12x==13.6.0
networkx==3.5
lark==1.2.2
rignore==0.7.0
outlines_core==0.2.11
shellingham==1.5.4
cloudpickle==3.1.1
astor==0.8.1
torch==2.8.0+cu128
nvidia-curand-cu12==10.3.9.90
numba==0.61.2
opencv-python-headless==4.12.0.88
fastapi-cloud-cli==0.3.0
rpds-py==0.27.1
pillow==11.3.0
anyio==4.11.0
pydantic==2.11.9
propcache==0.3.2
python-multipart==0.0.20
psutil==7.1.0
mistral_common==1.8.5
frozenlist==1.7.0
nvidia-cufile-cu12==1.13.1.3
sympy==1.14.0
soxr==1.0.0
python-json-logger==3.3.0
uv==0.8.22
transformers==4.57.3
deep_ep==1.1.0+e3908bf
more-itertools==8.10.0
httplib2==0.20.2
distro-info==1.1+ubuntu0.2
python-apt==2.4.0+ubuntu4
setuptools==59.6.0
SecretStorage==3.3.1
lazr.restfulclient==0.14.4
launchpadlib==1.10.16
importlib-metadata==4.6.4
PyGObject==3.42.1
PyJWT==2.3.0
distro==1.7.0
oauthlib==3.2.0
blinker==1.4
zipp==1.0.0
six==1.16.0
unattended-upgrades==0.1
keyring==23.5.0
lazr.uri==1.0.6
dbus-python==1.2.18
jeepney==0.7.1
wadllib==1.3.6
wheel==0.37.1
jaraco.collections==5.1.0
backports.tarfile==1.2.0
typing_extensions==4.12.2
jaraco.context==5.3.0
more-itertools==10.3.0
jaraco.functools==4.0.1
packaging==24.2
autocommand==2.2.2
inflect==7.3.1
tomli==2.0.1
importlib_metadata==8.0.0
wheel==0.45.1
jaraco.text==3.12.1
typeguard==4.3.0
platformdirs==4.2.2
zipp==3.19.2
